* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.padre {
    /* border: 2px solid rgb(248, 11, 31); */
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.navbar {
    /* border: 2px solid rgb(11, 248, 216); */
    background-color: rgb(1, 14, 2);
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center
}

.invisible1 {
    /* border: 2px solid rgb(12, 12, 12); */
    display: flex;
    width: 80vw;
    justify-content: flex-start;
}

button {
    border: none;
    background-color: rgb(70, 67, 64);
    color: white;
    font-size: 1.15rem;
    font-weight: 500;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transform: translate(1) translate(0, 0);
    transition: transform 225ms, box-shadow 225ms;
}

button:hover {
    transform: scale(1.05) translate(0, -0.15rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
}

button:active {
    transform: scale(1) translate(0, 0.15rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}


.pagina {
    background-image: url('papel-acuarela-amarillo_95678-446.avif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.caja {
    /* border: 2px solid rgb(159, 240, 9); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.caja2 {
    /* border: 2px solid rgb(101, 9, 240); */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja3 {
    border: 10px solid rgb(239, 173, 92);
    border-radius: 4%;
    width: 70%;
    height: 90%;

}

.cajas {
    /* border: 2px solid rgb(39, 39, 53); */
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group {
    position: relative;
}

.input {
    font-size: 20px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #fffcfc;
    background: transparent;
}

.input:focus {
    outline: none;
}

label {
    color: rgb(218, 214, 214);
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input:focus~label,
.input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #ffffff;
}

.bar {
    position: relative;
    display: block;
    width: 200px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #f9fafc;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #ffffff;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.caja5 {
    /* border: 2px solid rgb(27, 235, 12); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.origen {
    /* border: 2px solid rgb(71, 12, 235); */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.group {
    position: relative;
}

.input {
    font-size: 20px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #fffcfc;
    background: transparent;
}

.input:focus {
    outline: none;
}

label {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input:focus~label,
.input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #ffffff;
}

.bar {
    position: relative;
    display: block;
    width: 200px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #f9fafc;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #ffffff;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.destino {
    /* border: 2px solid rgb(71, 12, 235); */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.group {
    position: relative;
}

.input {
    font-size: 20px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #fffcfc;
    background: transparent;
}

.input:focus {
    outline: none;
}

label {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input:focus~label,
.input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #ffffff;
}

.bar {
    position: relative;
    display: block;
    width: 200px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #f9fafc;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #ffffff;
    }

    to {
        width: 0;
        background: transparent;
    }
}



.group {
    position: relative;
}

.input {
    font-size: 20px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #fffcfc;
    background: transparent;
}

.input:focus {
    outline: none;
}

label {
    color: rgb(218, 214, 214);
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input:focus~label,
.input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #ffffff;
}

.bar {
    position: relative;
    display: block;
    width: 200px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #f9fafc;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #ffffff;
    }

    to {
        width: 0;
        background: transparent;
    }
}
.caja7 {
    /* border: 2px solid rgb(27, 235, 12); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.entrada {
    /* border: 2px solid rgb(71, 12, 235); */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.group {
    position: relative;
}

.input {
    font-size: 20px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #fffcfc;
    background: transparent;
}

.input:focus {
    outline: none;
}

label {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input:focus~label,
.input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #ffffff;
}

.bar {
    position: relative;
    display: block;
    width: 200px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #f9fafc;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #ffffff;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.salida {
    /* border: 2px solid rgb(71, 12, 235); */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.group {
    position: relative;
}

.input {
    font-size: 20px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #fffcfc;
    background: transparent;
}

.input:focus {
    outline: none;
}

label {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input:focus~label,
.input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #ffffff;
}

.bar {
    position: relative;
    display: block;
    width: 200px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #f9fafc;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #ffffff;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.caja8 {
    /* border: 2px solid rgb(27, 235, 12); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.informacion {
    /* border: 2px solid rgb(71, 12, 235); */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.group {
    position: relative;
}


button {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    color: #111827;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }
  
  button:hover {
    background-color: #f9fafb;
  }
  
  button:focus {
    outline: 2px solid rgba(0,0,0,0.1);
    outline-offset: 2px;
  }
  
  button:focus-visible {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .filtrar {
    /* border: 2px solid rgb(71, 12, 235); */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.group {
    position: relative;
}


button {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    color: #111827;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }
  
  button:hover {
    background-color: #f9fafb;
  }
  
  button:focus {
    outline: 2px solid rgba(0,0,0,0.1);
    outline-offset: 2px;
  }
  
  button:focus-visible {
    -webkit-box-shadow: none;
    box-shadow: none;
  }



.caja9 {
    border: 2px solid rgb(101, 9, 240);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
